

.transaction-table-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #1a202c;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #E6EFF5;  }
  
  .tabs button {
    background: none;
    border: none;
    color: #1a202c;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tabs button:hover{
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-table th,
  .transaction-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #E6EFF5;  }
  
  .transaction-table th {
    color: #718EBF;
    border-bottom: 2px solid #E6EFF5;
  }
  
  .transaction-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

.transaction-table th:nth-child(4) {
    width: 12%;
}

.transaction-table th:nth-child(5) {
    width: 18%;
}
  
  .description-container {
    display: flex;
    align-items: center;
    font-weight: 400;
  }
  
  .icon-up::before {
    content: '↑';
    color: green;
    margin-right: 8px;
  }
  
  .icon-down::before {
    content: '↓';
    color: red;
    margin-right: 8px;
    
  }
  
  .negative {
    color: red;
    font-weight: 500;

  }
  
  .positive {
    color: green;
    font-weight: 500;

  }
  
  .download-btn {
    background: none;
    border: 1px solid #123288;
    color: #123288;
    padding: 6px 12px;
    border-radius: 25px;
    cursor: pointer;
  }

  .download-btn:hover {
    color: #1814F3;
    border-color: #1814F3;
  }

  