.blue-card {
    background: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
    color: white;
    display: flex;
    
  }

.blue-card .bottom {
  background: linear-gradient(to bottom, #4b52d6, #000dff);
}  
  
  .white-card {
    background: white;
    color: #333;
    display: flex;
   
  }

  .blue-card, .white-card {
    display: flex;
    flex-direction: column;
    margin: 0; /* Ensure no margin */
  }

  .card .top {
    padding: 2rem 2rem 0;
  }

  .card .bottom {
    padding: 1rem 2rem 1rem;
  }

  .mycards {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.inside-bottom .chip-logo {
    width: 18%;
}

.inside-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inside-bottom span {
  font-size: 1.3rem;
}

.card-details {
  display: flex;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.card-holder,
.valid-thru {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.card-holder span:first-child,
.valid-thru span:first-child {
  color: #fff;
  opacity: 70%;
}

.card-holder span:last-child,
.valid-thru span:last-child {
  font-weight: 500;
}