 



.content {
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem;
}

.credit-cards-headings {
    display: flex;
    justify-content: space-between;
}

.credit-cards-headings h2 {
    display: flex;
    align-items: center;
}

.credit-cards-headings h2:nth-child(2):hover {
    color: #343C6A;
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.inside-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.first-row, .third-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    gap: 1.5rem; /* Add some gap between the columns */

}

.second-row {
    display: flex;
    gap: 2rem;
}

 .left-side span{
     display: block;


} 

 .left-side {
    display: flex;
    flex-direction: column;
}

/* bura gpt */

.left-side, .right-side {
    display: flex;
    flex-direction: column; /* Ensure flex-direction is column */
  }

.first-row .left-side {
    display: flex;

}



.credit-cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.recent-transaction .row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.row img{
    width: 20%;
}

.row .image-div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
    width: 15%;
}

.row .image-div img{
    width: 100%;
}

.recent-transaction {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.islem {
    display: flex;
    flex-direction: column;
}

.amount {
    display: flex;
    align-items: center;
}