.chart-container2 {
    width: 350px;
    margin: auto;
    padding: 1.7rem 20px;
    border-radius: 10px;
  }
  
  .chart-container2 h2 {
    text-align: left;
    color: #1a202c;
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .chart-container2 {
      padding: 1rem;
    }
  }
  